/* * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
} */

/* html, body {
  padding: 0;
  margin: 0;
  height: 100%;
} */

#nowPlayingBarContainer {
  background-color: #282828;
  width: 100%;
  bottom: 0;
  height: 100px;
  /* Remove later */
  position: fixed;
  min-width: 620px;
}

#nowPlayingBar {
  display: flex;
  height: 90px;
  padding: 16px;
  box-sizing: border-box;
}

#nowPlayingBarLeft, #nowPlayingBarRight {
  width: 30%;
  min-width: 180px;
}

#nowPlayingBarCenter {
  width: 40%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nowPlayingBar .content {
  width: 100%;
}

.playerControls .buttons {
  display: table;
  margin: 0 auto;
}

.controlButton {
  background-color: transparent;
  border: none;
  vertical-align: middle;
  /*middle for all content set in middle vartically not goes up and down*/
}

.controlButton img {
  height: 20px;
  width: 20px;
}

.controlButton.play img, .controlButton.pause img {
  height: 32px;
  width: 32px;
}

.controlButton:hover {
  cursor: pointer;
}

.playbackBar {
  display: flex;
}

.progressTime {
  font-size: 11px;
  min-width: 40px;
  color: #e0e0e0;
  text-align: center;
}

.progressBar {
  width: 100%;
  cursor: pointer;
  height: 12px;
  display: inline-flex;
}

.progressBarbg {
  background-color: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.progress {
  height: 4px;
  width: 0;
  border-radius: 2px;
  background-color: #a0a0a0;
}

.playbackBar .progressBar {
  margin: 5px;
}

#nowPlayingBarLeft .albumArtWork {
  height: 70px;
  max-width: 70px;
  margin-right: 15px;
  float: left;
  background-size: cover;
}

#nowPlayingBarLeft .trackInfo {
  display: table;
}

#nowPlayingBarLeft .trackInfo .trackName {
  /* margin: 6px 0; */
  display: inline-block;
  width: 100%;
}

#nowPlayingBarRight .volumeBar {
  width: 180px;
  position: absolute;
  right: 0;
  margin-top: 18px
}

#nowPlayingBarRight .volumeBar .progressBar {
  width: 125px;
}